In [26]:
import pandas as pd 

#case: csv file has one extra header
#you want to skip that header
#you can use skiprows=1 or skiprows=[1] or skiprows=[0,1] or header = 1
df = pd.read_csv('stock_data.csv')
df

  'ticker'          'eps'  'revenue' 'price'       'people'
0    GOOGL          27.82         87     845     larry page
1      WMT           4.61        484      65           n.a.
2     MSFT             -1         85      64     bill gates
3     RIL   not available         50    1023  mukesh ambani
4     TATA            5.6         -1    n.a.     ratan tata

In [27]:
df = pd.read_csv('stock_data.csv', skiprows=1)
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [28]:
#what if no header?
#you can use header = None
df = pd.read_csv('stock_data.csv', header=None)
df

          0              1          2        3              4
0  'ticker'          'eps'  'revenue'  'price'       'people'
1     GOOGL          27.82         87      845     larry page
2       WMT           4.61        484       65           n.a.
3      MSFT             -1         85       64     bill gates
4      RIL   not available         50     1023  mukesh ambani
5      TATA            5.6         -1     n.a.     ratan tata

In [29]:
#giving names to the columns
df = pd.read_csv('stock_data.csv', header = None, names=['ticker','eps','revenue','price','people'])
df

     ticker            eps    revenue    price         people
0  'ticker'          'eps'  'revenue'  'price'       'people'
1     GOOGL          27.82         87      845     larry page
2       WMT           4.61        484       65           n.a.
3      MSFT             -1         85       64     bill gates
4      RIL   not available         50     1023  mukesh ambani
5      TATA            5.6         -1     n.a.     ratan tata

In [30]:
#only read certain rows in dataframe
#use nrows
df = pd.read_csv('stock_data.csv', nrows=3)
#na values are not read
df = pd.read_csv('stock_data.csv', na_values=['not available','n.a.'])
df

  'ticker'  'eps'  'revenue'  'price'       'people'
0    GOOGL  27.82         87    845.0     larry page
1      WMT   4.61        484     65.0            NaN
2     MSFT  -1.00         85     64.0     bill gates
3     RIL     NaN         50   1023.0  mukesh ambani
4     TATA   5.60         -1      NaN     ratan tata

In [36]:
#writing to csv
#use to_csv

#write certain columns only
df.to_csv('new.csv')

KeyError: "None of [Index(['tickers', 'eps'], dtype='object')] are in the [columns]"